body {
	/*margin:200px 100px;*/
	margin:0 auto; /*how to make this extend to the whole page*/
	padding:auto;
	width: 100%;
	height: 100%
	border:2px solid black;

}

#inputarea { /*larger margin on left less top right bottom*/
	font-size:;
	font-family:;
	color:;
	position:fixed;
	margin:100px, 20px, 20px, 50px;
	padding:50px;
	border:2px solid black;
	/*text-align: center;*/

}

p {
	padding:50px;
	border:5px solid black;
	/*margin:200px 520px; WILL NOT WORK, MUST MOVE WITH BROWSER */

}

#inputname {
	padding:50px;
	border:5px solid black;
	margin:2;
}