
#blackbar {
	background: black;
	color: white;
	overflow: hidden;
	border-bottom: 4px solid yellow;
	padding: 0 3%;

}

#wrapper {
	max-width: 1280px;
	margin: auto;
}

#blackbar h1 {
	color:yellow;
}

nav 