body {
	background-image: url(../images/grow_trees_bkg_no_trees.gif);
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	
}

#trees {
	display:none;
	width:150px; 
	padding:10px;

}

img {
	height:50px;
	width:50px;

}